<div class="container">
    <div class="row">
          Show amount returned by: <br>
          <input type="radio" ng-model="ShowBy" value="user" ng-checked="true">Users
          <input type="radio" ng-model="ShowBy" value="group">Groups
          <input type="radio" ng-model="ShowBy" value="subgroup">Group-Users
          <input type="radio" ng-model="ShowBy" value="product">Products
    </div>
</div>
<div class="container">
    <div class="table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th ng-if="ShowBy != 'product'">Place</th>
            <th ng-if="ShowBy != 'product'">Group</th>
            <th ng-if="ShowBy != 'product'">User</th>
            <th ng-if="ShowBy != 'product'">Total Returned</th>
            <th ng-if="ShowBy == 'product'">Type</th>
            <th ng-if="ShowBy == 'product'">Product</th>
            <th ng-if="ShowBy == 'product'"># Returned</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in tableInfo" ng-class="{'success': item.place == '1st', 'danger': item.place == '2nd', 'info': item.place == '3rd'}">
          	<td>{{item.place}}</td>
            <td>{{item.group}}</td>
            <td>{{item.user}}</td>
            <td>{{item.total}}</td>
          </tr>
        </tbody>
       </table>
    </div>
</div>